<div style="display: flex">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" (click)="navigateToUserUpsert(user.id)">
        <td>{{ user.name | capitalize : capitalizeNames }}</td>
        <td>{{ user.surname | capitalize : capitalizeNames }}</td>
        <td>
          <button (click)="deleteUser(user.id, $event)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <label>
    <input type="checkbox" [(ngModel)]="capitalizeNames" />
    Capitalize Names and Surnames
  </label>
</div>

<button (click)="navigateToUserUpsert(null)">Add New User</button>
