table {
  width: 50%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 10px;
}

.formdiv {
  width: 50%;
}
