<div *ngIf="user">
  <h3>{{ user.id > 0 ? "Update User" : "Add User" }}</h3>
  <form (ngSubmit)="handleUser(user, user.id > 0 ? false : true)">
    <div>
      <label>Name:</label>
      <input [(ngModel)]="user!.name" name="name" required />
    </div>
    <div>
      <label>Surname:</label>
      <input [(ngModel)]="user.surname" name="surname" required />
    </div>
    <button type="submit">
      {{ user.id > 0 ? "Update User" : "Add User" }}
    </button>
    <button type="button" (click)="cancel()">Cancel</button>
  </form>
</div>
