<div style="display: flex">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" (click)="selectUser(user)">
        <td>{{ user.name | capitalize : capitalizeNames }}</td>
        <td>{{ user.surname | capitalize : capitalizeNames }}</td>
        <td>
          <button (click)="deleteUser(user.id, $event)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <app-user-upsert
    [user]="selectedUser"
    (userSubmit)="handleUser($event)"
    (cancelEdit)="deselectUser()"
  ></app-user-upsert>
</div>

<div>
  <label>
    <input type="checkbox" [(ngModel)]="capitalizeNames" />
    Capitalize Names and Surnames
  </label>
</div>

<button (click)="initializeUser()">Add New User</button>
<!-- </div> -->
