<div *ngIf="user">
  <h3>{{ isEdit ? "Update User" : "Add User" }}</h3>
  <form (ngSubmit)="handleUser(user, isEdit)">
    <div>
      <label>Name:</label>
      <input [(ngModel)]="user!.name" name="name" required />
    </div>
    <div>
      <label>Surname:</label>
      <input [(ngModel)]="user.surname" name="surname" required />
    </div>
    <button type="submit">
      {{ isEdit ? "Update User" : "Add User" }}
    </button>
    <button type="button" (click)="cancel()">Cancel</button>
  </form>
</div>
