<div>
  <button (click)="scrollToElement()">Scroll to 25th Element</button>
</div>
<div>
  <input
    type="number"
    [(ngModel)]="targetId"
    placeholder="Enter ordinal number"
  />
  <button (click)="scrollToTypedElement()">ScrollToNumber</button>
</div>

<div style="display: flex">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Text</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of elements">
        <td #elementRef>{{ element.id }}</td>
        <td>{{ element.text }}</td>
      </tr>
    </tbody>
  </table>
</div>
