<div>
  <button (click)="scrollToElement()">Scroll to 25th Element</button>
</div>
<div>
  <input
    type="number"
    [(ngModel)]="targetId"
    placeholder="Enter ordinal number"
  />
  <button (click)="scrollToTypedElement()">ScrollToNumber</button>
</div>

<table mat-table [dataSource]="elements" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td matt-cell *matCellDef="let element" #elementRef>{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="text">
    <th mat-header-cell *matHeaderCellDef>Text</th>
    <td matt-cell *matCellDef="let element">{{ element.text }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
